
build/
*/build/


.gradle/
captures/


local.properties


*.iml
.idea/workspace.xml
.idea/libraries/
.idea/tasks.xml
.idea/vcs.xml
.idea/misc.xml
.idea/runConfigurations.xml
.idea/deploymentTargetSelector.xml


*.jks
*.keystore